{{# if products }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item">
                <p class="">Quantity: <strong>{{ this.qty }}</strong></p>
                <p>Name: <strong>{{ this.item.title }}</strong></p>
                <p>Price: <strong>₹{{ this.price }}</strong></p>
                <a href="/remove/{{this.item._id}}" class="btn btn-danger btn-sm active" role="button"
                    aria-pressed="true">remove</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <p class="pt-4"><strong>Total: ₹{{ totalPrice }}</strong></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>
{{ else }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
{{/if}}